@import "./tailwind.css";

/* Your app custom styles here */
:root {
  --zmp-theme-color: #EF1724;
  --zmp-page-bg-color: #f4f5f6;
  --zmp-searchbar-input-height: 32px;
  --zmp-theme-color-rgb: 239, 23, 36;
  --zmp-button-padding-vertical: 8px;
  --zmp-button-bg-color-tertiary: white;
  --zmp-toolbar-border-color: white;
  --zmp-bars-border-color: white;
  --zmp-appbar-app-offset: 108px;
  --zmp-list-margin-vertical: 0;
  --zmp-button-min-width: 12px;
  --zmp-button-bg-color-secondary: #ffdadc;
  --zmp-button-border-color-secondary: #ffdadc;
  --zmp-button-pressed-bg-color-primary: #e35861;
  --zmp-searchbar-height: 32px;
  --zmp-searchbar-input-height: 32px;
  --zmp-searchbar-in-page-content-input-border-radius: 12px;
  --zmp-searchbar-in-page-content-border-radius: 12px;
  --zmp-list-item-padding-vertical: 0px;
  --custom-header: 44px;
}

html {
  font-size: 100%;
}

body {
  position: relative;
  background-color: var(--zmp-page-bg-color);
  scrollbar-width: none;
  -ms-overflow-style: none;
  caret-color: var(--zmp-theme-color);

  svg {
    vertical-align: baseline;
  }
}

i.icon {
  vertical-align: baseline;
}

.searchbar:not(.searchbar-inline).searchbar:not(.searchbar-inline) {
  width: 100%;
}


::-webkit-scrollbar {
  width: 0px;
  display: none;
}

.rounded-primary {
  border-radius: var(--zmp-button-border-radius);
}


.grid::before,
.grid::after {
  background-color: transparent;
}

.view-main.hidden-nav {
  height: calc(100% - var(--custom-header));
}

.header {
  position: relative;
  z-index: 6000;
}

.center-absolute {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.bg-theme {
  background-color: var(--zmp-theme-color);
}

.color-theme {
  color: var(--zmp-theme-color);
}

.shadow-theme {
  box-shadow: 0px -80px 18px -20px var(--zmp-theme-color);
}

.list .item-content {
  min-height: unset !important;
}

.list .item-inner {
  min-height: unset !important;
  padding: 0;
}

//input
.custom-search .input-clear-button {
  top: 50%;
}

.ios .input-clear-button,
.md .input-clear-button {
  top: 50%;
}

.list .item-input-wrap {
  min-height: unset !important;
}

input[type="text"] {
  min-height: unset !important;
}

input[type=search] {
  min-height: unset !important
}

input[type="text"]::placeholder {
  color: #99A3AD;
}

.list .item-content.item-input .item-inner.item-inner {
  padding-right: 0;
  padding-top: 0px;
}

.item-input-successful select {
  border-color: var(--zmp-theme-color);
}

.list .item-content.item-input .item-inner {
  padding-right: 0;
  padding-top: 4px;
}

.list .item-content {
  height: 100%;
}

.input-dropdown::before {
  width: 0 !important;
  height: 0 !important;
  border-width: 0 !important;
}

.item-input-info.item-input-info.item-input-info {
  margin-bottom: 0;
  margin-top: 0;
}

select {
  min-height: unset !important;
}

select:required:invalid {
  color: #99A3AD;
}

option[value=""][disabled] {
  display: none;
}

.list .item-content {
  padding: 0;
}


.no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}


.button .icon {
  margin-right: 0;
}

.sheet-modal .zmp-sheet-default-toolbar .zmp-sheet-default-close-button {
  left: auto;
  right: 16px;
}

@layer components {
  .title-type-picker {
    @apply p-4 bg-[#FAFCFF] text-base font-medium
  }

}
.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.shadow-btn-fixed {
  -webkit-box-shadow: -1px -12px 24px -5px rgb(202 202 202 / 19%);
  -moz-box-shadow: -1px -12px 24px -5px rgb(202 202 202 / 19%);
  box-shadow: -1px -12px 24px -5px rgb(202 202 202 / 19%);
}

.anime-fade {
  opacity: 0;
  animation: fade 0.5s linear;
  animation-fill-mode: forwards;
}

.anime-move-down {
  animation: move-down 0.3s linear;
  animation-fill-mode: forwards;
}

.anime-move-up {
  transform: translateY(120px);
  animation: move-up 0.3s linear;
  animation-fill-mode: forwards;
}

@keyframes fade {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes move-down {
  0% {
    transform: translateY(0),
  }

  100% {
    transform: translateY(120px),
  }
}

@keyframes move-up {
  0% {
    transform: translateY(120px),
  }

  100% {
    transform: translateY(0),
  }
}